@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

body {
  align-items: center;
  margin: 0;
  background-color: #fff5e1;
  font-family: "Playfair Display", serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #824e00;
}

.logo {
  max-width: 100px;
}

.container {
  background-color: #ecdab9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 20px;
}

.text {
  width: 45%;
}

.chatbot {
  width: 45%;
}
h2 {
  color: #824e00;
  margin: 0;
}
p {
  color: #824e00;
  margin: 0;
}
